{% extends 'base.html' %}
{% block title %}Лента подписки{% endblock %}
{% block header %}Лента подписки{% endblock %}
{% block content %}
{% load thumbnail %}
{% load cache %}
{% cache 20 index_page %}
{% include 'includes/switcher.html' %}
  <div class="container py-5">
    <h1>Последние обновления автора</h1>
    {% for post in page_obj %}
    <article>
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
          {% thumbnail post.image "100x100" crop="center" as im %}
            <img class='images' src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
        <p>{{ post.text }}</p>
          {% if post %}
            <a href="{% url 'posts:post_detail' post.id %}">
             подробная информация
            </a>
          {% endif %}
    </article>
      {% if post.group %}
      <a href="{% url 'posts:group_list' post.group.slug %}">
            все записи группы
      </a>
      {% endif %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
  </div>
  {% include 'includes/paginator.html'%}
{% endcache %}
{% endblock %}